.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.active{
  color: cornflowerblue;
}

.error{
   border-color: red;
}

.error-text{
  color: red;
}

.check-isDone{
  opacity: 0.5;
}

.addNewList{
       margin-right: 30px;
       margin-top: 35px;
}